*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.815) ) ,url("img/luxury.jpg");
    background-size: 100%;
    background-attachment: scroll;
    height: 95vh;
    background-position: center;
}
.navbar{
    width: 88%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 50px;
}
.logo{
    font-size: 50px;
    cursor: pointer;
    color:blanchedalmond ;
    text-transform: uppercase;
    transition: 0.5s;
}
.logo:hover{
    color: rgb(255, 161, 37);
    letter-spacing: 7px;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: blanchedalmond;
    text-transform: uppercase;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #967300;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.25s;
}
.navbar ul li :hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    color: rgb(255, 241, 220);
    
}
.content h1 {
    font-size: 90px;
    margin-top:20px ;
}
.content p{
    margin: 20px auto;
    font-weight: 200;
}
button{
    position: relative;
    right: 18px;
    padding: 15px;
    font-size: 20px;
    background: transparent;
    border: solid 2px #ffae00 ;
    border-radius: 100px;
    color: blanchedalmond;
    cursor: pointer;
    outline: none;
    transition: 0.35s;
}
button:hover{
    background-color:  #ffae00;
    color: black;
    padding: 20px;
    
}
.R{
    color: #ffae00;
    cursor: default;
    transition: 0.5s;
    
}
.R:hover{
    letter-spacing: 3px;
}
.tag{
    position: absolute;
    left: 44%;
    bottom: 0;
    font-size: 10px;
    color: rgb(104, 104, 104);
}